@using ETicaret.Model.Models.Entity

@model User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Login to your account</h2>
                    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                    {
                        
                        @Html.TextBoxFor(x => x.Email, new { @placeholder = "Email", @type = "email" })
                        @Html.ValidationMessageFor(x => x.Email)

                        @Html.TextBoxFor(x => x.Password, new { @placeholder = "Password", @type = "password" })
                        @Html.ValidationMessageFor(x=>x.Password)
                        <span>
                            <input type="checkbox" class="checkbox">
                            Keep me signed in
                        </span>
                        <button type="submit" class="btn btn-default">Login</button>
                    }
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">OR</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>New User Signup!</h2>
                    @using (Html.BeginForm("Singup", "Login", FormMethod.Post))
                    {
                        @Html.TextBoxFor(x=>x.FullName, new { @placeholder="Name"})
                        @Html.ValidationMessageFor(x => x.FullName)
                        @Html.TextBoxFor(x => x.Email, new { @placeholder = "Email", @type="email" })
                        @Html.TextBoxFor(x => x.Password, new { @placeholder = "Password", @type="password" })
                        
                        <button type="submit" class="btn btn-default">Signup</button>
                    }
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->