@model VMUserNewCard
@{
    ViewBag.Title = "UserPayment";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div role="main" class="main">
    <div class="container main-container">
        <div class="wrapper-container">
            <div class="cart">
                <div class="container">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="heading heading-primary heading-border heading-bottom-border">
                                <h1>Kayıtlı Kartlarım</h1>
                            </div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>
                                            Kart
                                        </th>
                                        <th>
                                            Numarası
                                        </th>
                                        <th>
                                            Ad Soyad
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var card in ViewBag.UserCards as List<UserCard>)
                                    {
                                        <tr>
                                            <td>
                                                <a href="~/Order/OrderSummary/@card.UserCardID" class="btn btn-primary"> Seç </a>
                                            </td>
                                            @if (card.CardNo[0] == '5')
                                            {
                                                <td>
                                                    Visa
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    Master
                                                </td>
                                            }
                                            <td>
                                                @card.CardNo.Substring(0, 4) **** **** @card.CardNo.Substring(card.CardNo.Length - 4)
                                            </td>
                                            <td>
                                                @card.FullName
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                        <div class="col-md-8" ng-app="comApp" ng-controller="creditCard" data-ng-init="defaultCard()">
                            <div class="form-col">

                                <div class="heading heading-primary heading-border heading-bottom-border">
                                    <h1>Yeni Kart</h1>
                                </div>
                                <div class="col-xs-12" id="newCreditCard">
                                    <div class="col-xs-12 col-sm-5">
                                        @using (Html.BeginForm(FormMethod.Post))
                                        {
                                            <label class="control-label">Kart Numarası</label>
                                            <div class="row" style="padding-left:15px; padding-right:15px;">
                                                <div class="col-xs-12" style="padding:0">
                                                    @Html.EditorFor(model => model.CardNo, new { htmlAttributes = new { @class = "form-control", onkeypress = "return event.charCode >= 48 && event.charCode <= 57", value = "", maxlength = "16", ng_model = "cardNoInput", ng_change = "giris()" } })
                                                    @Html.ValidationMessageFor(model => model.CardNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <label class="control-label">Adı Soyadı</label>
                                            @Html.EditorFor(model => model.CardFullName, new { htmlAttributes = new { @class = "form-control", ng_model = "adSoyad" } })
                                            @Html.ValidationMessageFor(model => model.CardFullName, "", new { @class = "text-danger" })
                                            <div class="row" style="padding-bottom:1vw">
                                                <div class="col-xs-8">
                                                    <label class="control-label">Son. Kul. Tarihi</label>
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            @Html.DropDownList("Month", Enumerable.Range(01, 12).Select(x => new SelectListItem { Text = x.ToString() }), new { @class = "form-control", ng_model = "ay" })
                                                            @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-xs-6">
                                                            @Html.DropDownList("Year", Enumerable.Range((DateTime.Now.Year % 100), 10).Select(x => new SelectListItem { Text = x.ToString() }), new { @class = "form-control", ng_model = "yil" })
                                                            @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <label class="control-label">CVC2</label>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            @Html.EditorFor(model => model.SecurityCode, new { htmlAttributes = new { @class = "form-control", type = "text", maxlength = "3", value = "", ng_model = "secCode", onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                                            @Html.ValidationMessageFor(model => model.SecurityCode, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="checkbox col-md-offset-4 col-md-2">
                                                <label>
                                                    @Html.CheckBox("isSave", true)
                                                    Hatırla?
                                                </label>
                                            </div>
                                            <div class="col-md-offset-2 col-md-4">
                                                <input type="submit" href="~/Order/UserPayment" class="btn btn-primary" value="Devam">
                                            </div>
                                        }
                                    </div>
                                    <div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-7 col-sm-offset-0">
                                        <img class="img-responsive" src="~/Assets/img/{{img}}" />
                                        <span class="cardNumber">{{cardNo}}</span>
                                        <span class="fullname text-uppercase">{{adSoyad}}</span>
                                        <span class="expDate">{{ay}}/{{yil}}</span>
                                        <span class="secCode">{{secCode}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
