@model VMUserLogin
@{
    ViewBag.Title = "Giriş Yap";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div role="main" class="main">
    <div class="container main-container">
        <div class="wrapper-container">
            <section class="form-section">
                <div class="container">
                    <h1 class="h2 heading-primary font-weight-normal mb-md mt-xs">Login or Create an Account</h1>

                    <div class="featured-box featured-box-primary featured-box-flat featured-box-text-left mt-md">
                        <div class="box-content">
                            <div class="row">
                                @using (Html.BeginForm(FormMethod.Post))
                                {
                                    <div class="col-sm-6">
                                        <div class="form-content">
                                            <h3 class="heading-text-color font-weight-normal">New Customers</h3>
                                            <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                                        </div>

                                        <div class="form-action clearfix">
                                            <a href="~/Register" class="btn btn-primary">Create an Account</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        @if (@ViewBag.Error != null)
                                        {
                                            <div class="alert alert-danger alert-dismissable fade in">
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                <i class="fa fa-warning"></i> @ViewBag.Error
                                            </div>
                                        }
                                        <div class="form-content">
                                            <h3 class="heading-text-color font-weight-normal">Registered Customers</h3>
                                            <p>If you have an account with us, please log in.</p>
                                            <div class="form-group">
                                                <label class="font-weight-normal">Email Address <span class="required">*</span></label>
                                                @Html.TextBoxFor(x => x.EMail, new { @class = "form-control", type = "email" })
                                                @Html.ValidationMessageFor(x => x.EMail, "", new { @class = "text-danger" })

                                            </div>
                                            <div class="form-group">
                                                <label class="font-weight-normal">Password <span class="required">*</span></label>
                                                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", type = "password" })
                                                @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                                            </div>

                                            <p class="required">* Required Fields</p>
                                        </div>

                                        <div class="form-action clearfix">
                                            <a href="#" class="pull-left">Forgot Your Password?</a>

                                            <input type="submit" class="btn btn-primary" value="Submit">
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>

